/* You can add global styles to this file, and also import other style files */
.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }

  .bg-img
{
    background-image: url('/assets/Slice1');
    background-position: center;
    background-repeat: no-repeat; 
}