



<h1>New Vehicle</h1>

<p>
  {{ vehicle | json }}
</p>
<form action="" class="bg-img">
    <div class="form-inline">
  
      <label for="make">Make</label>
        <select name="make"   id="make" class="form-control" 
(change)="onMakeChange()"  
[(ngModel)]="vehicle.makeId"
         name="makeId">
                                   <option value="0">--Select--</option>
                                    <option *ngFor="let m of makes" value={{m.id}}>{{m.name}}</option>
    </select>
  </div>

    <div class="form-inline">
        <label for="model">Model</label>
        <select  id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId">
<option value=""></option>
<option  *ngFor="let m of models"   value="{{m.id}}" >{{m.name}}</option>
        </select>
    </div>
    
    <div>
      <label for="registered"  style="padding-right: 20px;"> Is this vehicle registered? </label>
        
      <label for="Registered">
          <input type="radio" name="isRegistered" id="registered" value="true" class="form-check-input"  
                   value="true" [(ngModel)]="vehicle.isRegistered"> Yes  
        </label>

        <label for="notRegistered">
          <input type="radio" name="isRegistered" id="notRegistered" value="false" 
                     value="false" [(ngModel)]="vehicle.isRegistered"> No
        </label>
      </div>
      <div>
        <h2>Features</h2>
        <div *ngFor="let f of features" class="checkbox" style="padding-left:20px">
            <label for="feature{{f.id}}" class="form-check-label">
                <input type="checkbox" id="feature{{f.id}}"  
                (change)="onFeatureToggle(f.id, $event)" 
                class="form-check-input"> {{f.name}}</label></div>
      </div>

      <h2>Contact</h2>
      <div class="form-group">
        <label for="contactName">Name</label>
        <input id="contactName" type="text" 
                   class="form-control"
                  [(ngModel)]="vehicle.contact.name"
                  name="contactName"

        >
      </div>
      <div class="form-group">
        <label for="contactPhone">Phone</label>
        <input id="contactPhone" type="text" 
                   [(ngModel)]="vehicle.contact.phone"
                   class="form-control"
                   name="contactPhone">
      </div>

      <div class="form-group">
        <label for="contactEmail">Email</label>
        <input id="contactEmail" type="text" 
                   class="form-control"
                   [(ngModel)]="vehicle.contact.email"
                   name="contactEmail"
        
        >
      </div>
      <button class="btn btn-primary">Save</button>


</form>        
