USE [Keycost]
GO
/****** Object:  Table [Model]    Script Date: 15/12/2022 18:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Model](
	[Id] [int] NOT NULL,
	[MakeId] [int] NULL,
	[Name] [varchar](16) NULL,
	[fkCatLevel2ID] [int] NULL
) ON [PRIMARY]
GO
INSERT [Model] ([Id], [MakeId], [Name]) VALUES (1, 1, N'DB7')
INSERT [Model] ([Id], [MakeId], [Name]) VALUES (2, 1, N'DB9')
INSERT [Model] ([Id], [MakeId], [Name]) VALUES (3, 1, N'DBS')
GO
